*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1 col2 col3";
}
.col1{
    border: solid 1px black;
    text-align: center;
    grid-area: 1;
    height: 100%;
}
.col2{
    border: solid 1px black;
    text-align: center;
    grid-area: 1 2;
    height: 100%;
}
.col3{
    border: solid 1px black;
    text-align: center;
    grid-area: 1 3;
    height: 100%;
}
